.sortable{ 
list-style-type: none;
 margin: 0;
 padding: 0; 
 margin-bottom: 10px;
 min-height:100px;
 padding:5px 0;
 }
 .customizer_layout {
  background-color:#ccc;
 }
 .sortable li {
 margin: 5px;
 padding: 5px;
 width: 215px; 
 background-color:#fff;
 border:1px solid #000;
 text-align:center;
 }
 
.customize-control-checkbox label, .customize-control-nav_menu_auto_add label, .customize-control-radio label{display:inline-block;} 
#customize-control-hc_pro_options-hc_back_image input, #customize-control-hc_pro_options-hc_stylesheet input, 
#customize-control-hc_pro_options-front_page_data, #customize-control-hc_pro_options-layout_textbox_disable
 { display:none !important;}
 
 #customize-control-quality_pro_options-back_image label img
 { border:2px solid #ccc;}
 
 .color_scheem_active{
	border: 2px solid #000 !important;
    border-radius: 2px;
 }
 .background_active{
	border: 2px solid #000000 !important;
    border-radius: 2px;
 }
 
 .btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-bottom-color: #A2A2A2;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 12px;
    padding-top: 4px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn-primary {
    background-color: #006DCC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0044CC);  
    border-color: rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary a {color:#fff !important;}
.btn-info {
    background-color: #49AFCD;
    background-image: -moz-linear-gradient(center top , #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-success {
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-inverse {
    background-color: #363636;
    background-image: -moz-linear-gradient(center top , #444444, #222222);
    background-repeat: repeat-x;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(0, 0, 0, 0.1);
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(0, 0, 0, 0.1);
    border-top-color: rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/***** inner option style ******/
.webriti_inpute{ padding-bottom: 6px; width: 50%; }
.ui-tabs-panel #heading{ 
	border-bottom-color: #474747;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 10px;
    padding-bottom: 10px;
	}
	
 .ui-tabs-panel .section {
    border-bottom-color: #E7E7E7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
#button_section
{
	border-bottom-color: #474747;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

 #content .section .explain {
    color: #999999;   
    font-family: sans-serif;
    font-size: 14px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: auto;
	margin-left:10px;
}
#content .section h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    padding-bottom: 7px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
}

.upgrade {
  background-color: #1d4467;
  border-color: #1d4467;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
   margin-bottom: 0px;
  padding: 13px 30px 14px 29px;
  text-transform: uppercase;
  width: 54%;
  border-radius:2px;
}
.review {
  background-color: #82b541;
  border-color: #1ec846;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
   margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 13px 30px 14px 29px;
  text-transform: uppercase;
  width: 54%;
  border-radius:2px;
}
.document{
  background-color: #ee591f;
  border-color: #ef9c28;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 13px 30px 14px 29px;
  text-transform: uppercase;
  width: 54%;
  border-radius:2px;
}
.pro-box
{display:block;text-align:center; margin-bottom: 0px;}
